<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="config.php">
    <testsuite name='KronuSMe WebProxy'>
        <directory suffix='.php'>./tests/</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory>./includes</directory>
            <exclude>
                <directory>./tests</directory>
                <directory>./vendor</directory>
                <file>./includes/simple_html_dom.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="tests/report" charset="UTF-8"
             yui="true" highlight="false"
             lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="tests/clover.xml"/>
    </logging>
</phpunit>